/* RESET TO DEFAULT */

* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

/* CONTAINER CONTENT  */
.container {
    margin: 0 auto;
    width: 1000px;
    min-height: 500px;
    padding: 10px;
    background-color: #062134;
}
    /* NAVIGATION CONTENT */
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        padding: 10px;
    }
        h1{
            font-weight: lighter;
        }
        span{
            color: rgb(24,142,216);
        }
        li{
            display: inline-block;
            margin-left: 40px;
        }
        li:first-child{
            color:rgb(27,67,95);
        }
    /* MAIN CONTENT */
    main{
        background-color: white;
        padding: 10px;
    }
        main img {
            width: 100%;
            /* margin-bottom: 20px; */
        }
        /* SUB-CONTENT */
        .sub-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
        }
            /* CARD CONTENT  */
            .card {
                background-color: blue;
                width: 30%;
                padding: 10px;
                color:  white;
            }
            .card> img {
                width: 40px;
            }
            .card > h3 {
                display: inline-block;
            }